.homePage {
  width: 100vw;
  height: 88vh;
  object-fit: cover;
  background-image: url("../public/img/home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.aboutPage {
  width: 100vw;
  height: 88vh;
  object-fit: cover;
  background-image: url("../public/img/about1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.contactPage {
  width: 100vw;
  height: 88vh;
  object-fit: cover;
  background-image: url("../public/img/contact.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.notFoundPage {
  width: 100vw;
  height: 88vh;
  object-fit: cover;
  background-image: url("../public/img/notFound.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.welcomeP {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  color: brown;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  font-weight: 700;
  text-shadow: 3px 3px 15px #000;
}
.footer {
  height: 5vh;
}
.nav {
  height: 7vh;
}
.navLink {
  width: 100%;
  display: flex !important;
  justify-content: flex-end;
  font-size: 20px;
}
.singleCard {
  max-width: 25rem;
  display: flex;
  height: 80vh;
  padding: 15px;
  margin: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-image: linear-gradient(#b384c9, #1f405b 50%);
}
.nestedPage {
  width: 100%;
  height: 88vh;
  background: url("../public/img/nested.jpg");
  padding-top: 1rem;
  text-align: center;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f0f0f0b8;
}

.blk1 {
  width: 50vw;
  height: 420px;
  margin: 10px auto;
  background: rgb(11, 11, 11);
  background: linear-gradient(
    90deg,
    rgba(11, 11, 11, 0.5234068627450981) 0%,
    rgba(29, 29, 29, 0.531267507002801) 30%
  );
}

.disc1 {
  width: 50vw;
  height: 550px;
  margin: 10px auto;
  background: rgb(11, 11, 11);
  background: linear-gradient(
    90deg,
    rgba(11, 11, 11, 0.4234068627450981) 0%,
    rgba(29, 29, 29, 0.431267507002801) 30%
  );
}


